<ion-content>
  <div class="register_title">
    <ion-img src="../../assets/logo.png"></ion-img>
    <div class="title_text">
      <h1>Welcome to Kolkata Metro</h1>
    </div>
  </div>
  <div class="form_container">
    <h2 class="form_label--large">Create New Password</h2>
    <p class="form_content">Your new password must be different from previous used passwords.</p>
    <ion-item class="mb-0">
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <span class="input_note">Must be at least 8 characters.</span>
    <ion-item>
      <ion-input type="password" placeholder="Confirm Password"></ion-input>
    </ion-item>
    <ion-button class="btn__link" expand="block" routerLink="" routerDirection="forward">Reset Password</ion-button>
  </div>
</ion-content>
