<ion-content>
  <div class="register_title">
    <ion-img src="../../assets/logo.png"></ion-img>
    <div class="title_text">
      <h1>Welcome to Kolkata Metro</h1>
    </div>
  </div>
  <div class="form_container">
    <h2 class="form_label--large">Reset Password</h2>
    <p class="form_content">Enter the email associated with your account and we'll send an email with instructions to reset your password</p>
    <ion-item>
      <ion-input type="email" placeholder="Enter Your Email Address"></ion-input>
    </ion-item>
    <ion-button class="btn__link" expand="block" routerLink="" routerDirection="forward">Reset Now</ion-button>
  </div>
</ion-content>
