

<h4 class="heading">Change Password</h4>
<form [formGroup]="changePasswordForm" (ngSubmit)="passwordChange()">
    <div class="field-wrap">
        <label class="label-txt">Old Password</label>
        <input type="password" class="mail textbox" placeholder="Old Password" formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }">
                            
        <div *ngIf="submitted && f['oldPassword'].errors">
            <span *ngIf="f['oldPassword'].errors['required']">Please enter old password.</span>
        </div>
    </div>

    <div class="field-wrap">
        <label class="label-txt">New Password</label>
        <input type="password" class="lock textbox" placeholder="New Password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }">
                            
        <div *ngIf="submitted && f['newPassword'].errors">
            <span *ngIf="f['newPassword'].errors['required']">Please enter password.</span>
            <span *ngIf="f['newPassword'].errors['minlength']">Password length should be minimum 3.</span>
        </div>
    </div>

    <div class="field-wrap">
        <label class="label-txt">Confirm Password</label>
        <input type="password" class="lock textbox" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                            
        <div *ngIf="submitted && f['confirmPassword'].errors">
            <span *ngIf="f['confirmPassword'].errors['required']">Please enter confirm password.</span>
            <span *ngIf="f['confirmPassword'].errors['mustMatch']">Password and Confirm password should be match.</span>
        </div>
    </div>

    <div class="field-wrap">
        <input type="submit" class="main-btn" value="Update Password">
    </div>
</form>