<section class="banner-area">
    <div class="main-container">
        <div class="banner-cnt">
            <div class="left-wrap"  *ngIf="setForm">
                <form [formGroup]="forgetForm" (ngSubmit)="forgetPasswordSubmit()">
                    <div class="banner-form-wrap login">
                        <h3 class="text-center">Forgot Password</h3>
                        <div class="field-wrap">
                            <label>Email Address</label>
                            <input type="email" class="mail" placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                            
                            <div *ngIf="submitted && f['email'].errors">
                                <span *ngIf="f['email'].errors['required']">Please enter your email address.</span>
                                <span *ngIf="f['email'].errors['pattern']">Please enter your email address in format:<b>yoourname&#64;example.com</b>.</span>
                            </div>
                        </div>
                        <input type="submit" class="main-btn" value="Reset Password" >
                    </div>
                </form>
            </div>


            <div class="left-wrap"  *ngIf="!setForm">
                <form [formGroup]="updateForm" (ngSubmit)="updatePasswordSubmit()">
                    <div class="banner-form-wrap login">
                        <h3 class="text-center">Forgot Password</h3>
                        <div class="field-wrap">
                            <label>OTP</label>
                            <input type="number" class="mail" formControlName="OTP" readonly="true">
                        </div>

                        <div class="field-wrap">
                            <label>Password</label>
                            <input type="password" class="lock" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                            
                            <div *ngIf="submitted && f['password'].errors">
                                <span *ngIf="f['password'].errors['required']">Please enter password.</span>
                                <span *ngIf="f['password'].errors['minLength']">Password length should be minimum 3.</span>
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label>Confirm Password</label>
                            <input type="password" class="lock" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                            
                            <div *ngIf="submitted && f['confirmPassword'].errors">
                                <span *ngIf="f['confirmPassword'].errors['required']">Please enter confirm password.</span>
                                <span *ngIf="f['confirmPassword'].errors['mustMatch']">Password and Confirm password should be match.</span>
                            </div>
                        </div>

                        <input type="submit" class="main-btn" value="Save" >
                    </div>
                </form>
            </div>

            <div class="right-wrap">
                <figure>
                    <img src="../../../assets/images/banner-car.png" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>