<ion-header>
  <ion-toolbar color="charcoal">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-img src="../../assets/lgn_logo.png" class="logo_item" routerLink="/home"></ion-img></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h1 *ngIf="nodata" class="center">No Data Found</h1> -->
  <div >
    <div class="leader_board">
      <!-- <div class="leader_board_heading">
          Leaderboard
      </div> -->
      <h1 *ngIf="nodata" class="center">No Data Found</h1>
      <table class="table" *ngIf="!nodata" >
          <thead>
              <tr>
                  <th align="center">#</th>
                  <th>Tournament</th>
                  <th align="center">Question</th>
                  <th>Amount</th>

              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wallet of wallets; let i=index">
             
              <td align="center">{{i+1}}</td>
              <td>{{wallet.questionId.tourId.title}}</td>
              <td align="center">{{wallet.questionId.question}}</td>
              <td align="center">{{wallet.amount}}</td>

          </tr>
                             
                          </tbody>
      </table>
  </div>
 
  </div>
  <!-- <ion-list *ngFor="let wallet of wallets;">
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/lgn_logo.png">
      </ion-avatar>
      <ion-label>        
      <h3 style="font-weight: 300;">{{wallet.questionId.tourId.title}}
      </h3>
      <p>{{wallet.questionId.question}}
      </p>
      <h5>{{wallet.amount}}</h5>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <!-- <ion-list>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/lgn_logo.png">
      </ion-avatar>
      <ion-label>
     
        <h5>{{notifi.title}}</h5>
       <p>{{notifi.description}}</p>
      </ion-label>
 
    </ion-item>
  </ion-list> -->
</ion-content>

