<section class="book-car">
    <p>Call 24 Hour Service Available</p>
    <h2>Call Now & Book Your Taxi
        For Your Next Ride.</h2>
    <div class="call-wrap">
        <img src="images/call.png" alt="">
        <p>(021) 111 444 90</p>
    </div>
</section>

<footer>
    <div class="main-container">
        <div class="card-wrap">
            <div class="card-cnt">
                <h2>CAB Booking</h2>
                <ul>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li><span>Phone:</span> (+44) 203 918 9852</li>
                    <li><span>Email:</span> booking&#64;britainairporttrans fers.co.uk</li>
                    <li><span>Address:</span> 40a Kimpton Rd, Luton LU2 0SX, UK</li>
                </ul>
            </div>
            <div class="card-cnt">
                <h2>USEFUL LINKS</h2>
                <ul>
                    <li><a href="#">Passenger Terms of Service</a></li>
                    <li><a href="#">Refund Policy</a></li>
                    <li><a href="#">Frequently Asked Questions</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">About UK Airport Taxi</a></li>
                    <li><a href="#">UK Airport Taxi Services</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
            <div class="card-cnt">
                <h2>CITY TAXI SERVICE</h2>
                <ul>
                    <li><a href="#">Popular Destinations</a></li>
                    <li><a href="#">Cambridge Taxi</a></li>
                    <li><a href="#">Bedford Taxi</a></li>
                    <li><a href="#">Hitchin Taxi</a></li>
                    <li><a href="#">Milton Keynes Taxi</a></li>
                    <li><a href="#">About UK Airport Taxi</a></li>
                    <li><a href="#"> Stevenage Taxi</a></li>
                    <li><a href="#">Watford Taxi</a></li>
                    <li><a href="#">Letchworth Garden Taxi</a></li>
                    <li><a href="#">Leighton Buzzard Taxi</a></li>
                </ul>
            </div>
            <div class="card-cnt">
                <h2>CITY TAXI SERVICE</h2>
                <ul>
                    <li><a href="#">Popular Destinations</a></li>
                    <li><a href="#">Cambridge Taxi</a></li>
                    <li><a href="#">Bedford Taxi</a></li>
                    <li><a href="#">Hitchin Taxi</a></li>
                    <li><a href="#">Milton Keynes Taxi</a></li>
                    <li><a href="#">About UK Airport Taxi</a></li>
                    <li><a href="#"> Stevenage Taxi</a></li>
                    <li><a href="#">Watford Taxi</a></li>
                    <li><a href="#">Letchworth Garden Taxi</a></li>
                    <li><a href="#">Leighton Buzzard Taxi</a></li>
                </ul>
            </div>
            <div class="card-cnt">
                <h2>CITY TAXI SERVICE</h2>
                <ul>
                    <li><a href="#">Popular Destinations</a></li>
                    <li><a href="#">Cambridge Taxi</a></li>
                    <li><a href="#">Bedford Taxi</a></li>
                    <li><a href="#">Hitchin Taxi</a></li>
                    <li><a href="#">Milton Keynes Taxi</a></li>
                    <li><a href="#">About UK Airport Taxi</a></li>
                    <li><a href="#"> Stevenage Taxi</a></li>
                    <li><a href="#">Watford Taxi</a></li>
                    <li><a href="#">Letchworth Garden Taxi</a></li>
                    <li><a href="#">Leighton Buzzard Taxi</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright-sec">
        <p>© 2024 Cab Booking. All Rights Reserved</p>
    </div>
</footer>