<section class="banner-area">
    <div class="main-container">
        <div class="banner-cnt">
            <div class="left-wrap">
                <!-- <p>Offering unparalleled convenience and
                    comfortability in reaching desired destinations.</p>
                <a href="#" class="main-btn">Know More Us</a> -->

                <div class="banner-form-wrap login">
                    <h3 class="text-center">Create an account</h3>
                    <p>Already have an account? <a href="/login">Login</a></p>
                    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
                        <div class="field-wrap">
                            <label>Full Name</label>
                            <input type="text" class="mail" placeholder="eg: Jhon Doe" formControlName="name" [ngClass]="{ 'is-invalid':submitted && f['name'].errors }">
                            
                            <div *ngIf="submitted && f['name'].errors">
                                <span *ngIf="f['name'].errors['required']">Please enter your full name.</span>
                                <span *ngIf="f['name'].errors['cannotContainSpace']">There should be no blank space in your name.</span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f['name'].errors">
                            <span *ngIf="f['name'].errors['required']">Please enter your full name.</span>
                            <span *ngIf="f['name'].errors['cannotContainSpace']">There should be no blank space in your name.</span>
                        </div>

                        <div class="field-wrap">
                            <label>Contact No.</label>
                            <input type="number" class="phone" placeholder="Contact No" formControlName="phone" minlength="10" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
                            
                            <div *ngIf="submitted && f['phone'].errors">
                                <span *ngIf="f['phone'].errors['required']">Please enter your contact no.</span>
                                <!-- <span *ngIf="f['phone'].errors['pattern']">Please enter your email address in format:<b>yoourname@example.com</b>.</span> -->
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label>Email Address</label>
                            <input type="email" class="mail" placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                            
                            <div *ngIf="submitted && f['email'].errors">
                                <span *ngIf="f['email'].errors['required']">Please enter your email address.</span>
                                <span *ngIf="f['email'].errors['pattern']">Please enter your email address in format:<b>yoourname&#64;example.com</b>.</span>
                            </div>
                        </div>
                        <div class="field-wrap">
                            <label>Password</label>
                            <input type="password" class="lock" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                            
                            <div *ngIf="submitted && f['password'].errors">
                                <span *ngIf="f['password'].errors['required']">Please enter password.</span>
                                <span *ngIf="f['password'].errors['minLength']">Password length should be minimum 3.</span>
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label>Confirm Password</label>
                            <input type="password" class="lock" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                            
                            <div *ngIf="submitted && f['confirmPassword'].errors">
                                <span *ngIf="f['confirmPassword'].errors['required']">Please enter confirm password.</span>
                                <span *ngIf="f['confirmPassword'].errors['mustMatch']">Password and Confirm password should be match.</span>
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label>Address</label>
                            <input type="text" class="location" placeholder="Address" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f['location'].errors }">
                            
                            <div *ngIf="submitted && f['location'].errors">
                                <span *ngIf="f['location'].errors['required']">Please enter your address.</span>
                                <span *ngIf="f['location'].errors['cannotContainSpace']">There should be no blank space.</span>
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label>City</label>
                            <input type="text" class="car" placeholder="City" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }">
                            
                            <div *ngIf="submitted && f['city'].errors">
                                <span *ngIf="f['city'].errors['required']">Please enter your city.</span>
                                <span *ngIf="f['city'].errors['cannotContainSpace']">There should be no blank space city.</span>
                            </div>
                        </div>

                        <div class="field-wrap">
                            <label>Pin</label>
                            <input type="text" class="location" placeholder="Pin" formControlName="pin" [ngClass]="{ 'is-invalid': submitted && f['pin'].errors }">
                            
                            <div *ngIf="submitted && f['pin'].errors">
                                <span *ngIf="f['pin'].errors['required']">Please enter you pin.</span>
                            </div>
                        </div>
                        <input type="submit" class="main-btn" value="Register Now">
                    </form>
                </div>
            </div>
            <div class="right-wrap">
                <figure>
                    <img src="../../../assets/images/banner-car.png" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>